@page
@model Hydriot.Web.Pages.Nodes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Node</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.DeviceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.DeviceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.DeviceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.DeviceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.RegisteredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.RegisteredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.LastConnected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.LastConnected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.IsEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.IsEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Node.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Node.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Node.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
